<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>New Dojo</h1>

    <form action="/create_dojo" method="post">
        <label for="dojo_name">Name:</label>
        <input type="text" name="name">
        <button>CREATE</button>
    </form>

    <h1>All Dojos</h1>

    {% for dojo in all_dojos%}

    <!-- <p>{{dojo.name}}</p> -->
    <a href='/dojos/{{dojo.id}}'>{{dojo.name}}</a>

    {% endfor %}

    <hr>
    
    <a href='/ninja/display'>Add Ninja</a>



</body>
</html>