<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>

</head>

<body>
    <div>
        <p>{{one_user.first_name}} {{one_user.last_name}}</p>
    </div>
    <hr>
    <form action="/users/update/{{one_user.id}}" method="post">

        <label for="first_name">First Name:</label>
        <input value="{{one_user.first_name}}" type="text" name="first_name">

        <label for="last_name">Last Name:</label>
        <input value="{{one_user.last_name}}" type="text" name="last_name">

        <label for="email">Email:</label>
        <input value="{{one_user.email}}" type="text" name="email">

        <button>Update</button>
    </form>
    <hr>
    <div>
        <a href='/'>Return to Main Page</a>
    </div>

</body>

</html>