<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show one</title>
</head>

<body>

    <div>
        <h1>FIRST NAME: {{one_user.first_name}}</h1>
        <h1>LAST NAME: {{one_user.last_name}}</h1>
        <h1>EMAIL: {{one_user.email}}</h1>
    </div>
    <hr>

    <p></p>
    <div>
        <a href="/users/edit/{{one_user.id}}/"> Edit User</a>
    </div>
    <p></p>
    <div>
        <a href="/users/delete/{{one_user.id}}">Delete This User</a>
    </div>
    <p></p>


    <a href='/'>Return to Main Page</a>


</body>


</html>