* {
    margin: 0px;;
    padding: 0px;;
}

h1 {
    background-color: black;
    color: white;
}

h2 {
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
    text-align: center;
}

h3 {
    background-color: turquoise;
    color: purple;
    text-decoration: underline;
    text-align: right;
}

.cloudfont {
    color: aqua;
}