<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create One</title>
</head>
<body>
    
    <!-- FLASH MESSAGES -->

    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}             <!-- check if there are any messages -->
    {% for message in messages %}            <!-- loop through the messages -->
    <p style="color:red">{{message}}</p>             <!-- display each message in a paragraph tag -->
    {% endfor %}
    {% endif %}
    {% endwith %}


    <!-- SITE TITLE AND LOGGED USER NAME -->
    <div>
        <h1>Sasquatch Websighting</h1>
    </div>
    <div>
        <h1>{{logged_user.first_name}} {{logged_user.last_name}}</h1>
    </div>


    <h1>Report a Sighting</h1>

    <form action="/sightings/create" method="post">
        <div>
            <div>
                <label for="location">Location:</label>
                <input type="text" name="location">
            </div>
            <div>
                <label for="what">What Happened:</label>
                <textarea name="what" id="" cols="30" rows="4"></textarea>
            </div>
            <div>
                <label for="time">Date of Sighting:</label>
                <input type="date" name="time">
            </div>
            <div>
                <label for="number"># of Sasquatches</label>
                <input type="number" name="number" min="1" value="1">
            </div>

        </div>

        <hr>

        <button>Submit</button>

    </form>

    <hr>

    <a href="/dashboard">Dashboard</a>

    <hr>

    <a href="/logout">LOGOUT</a>

</body>

</html>