<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Sighting</title>
</head>
<body>

    
    <!-- SITE TITLE AND LOGGED USER NAME -->
    <div>
        <h1>Sasquatch Websighting</h1>
        <h1>{{logged_user.first_name}} {{logged_user.last_name}}</h1>
    </div>

    <p></p>
    <p></p>
    <p></p>

    <div>
        <!-- Load User Name Here from Passed Instance -->
        <h3>Posted By: {{creator_info.first_name}} {{creator_info.last_name}}</h3>
    </div>

    <div><h2>{{single_sighting.location}} on {{single_sighting.time}}</h2></div>

    <div>
        <h3>What Happenened: {{single_sighting.what}}</h3>
        <h3></h3>
    </div>
    
    <div><h3> # of Sasquatches: {{single_sighting.number}}</h3></div>

    <div>
        <h3>Reported By: {{creator_info.first_name}} {{creator_info.last_name}}        </h3>
    </div>
    

    <hr>
    <!-- Returns to Display All -->
    <a href="/dashboard">Dashboard</a>

    <hr>

    <a href="/logout">Logout</a>

</body>

</html>