<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

        <h1>Add a Hero</h1>

        <!-- table_name / id / action -->
    <form action="", method="post">
        <p>name</p>
        <input name="name" type="text">

        <p>power</p>
        <input name="power "type="text">

        <p>level</p>
        <input name="level" type="number">

        <button>CREATE!</button>
    
    </form>

</body>

</html>