<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>superheroes</title>

</head>

<body>
    <h1>Hello Supes</h1>
    <hr>

    {{all_heroes}}
    <div>
        {% for one_hero in all_heroes%}

            <p>
                {{one_hero.name }} has {{one_hero.power}}
            </p>

        {% endfor %}
    </div>

    <a href="/heroes/new">Add A Hero!</a>
</body>

</html>